@import "partials/variables","partials/colori","partials/placeholder","partials/spaziature", "partials/mixins", "partials/reset", "partials/animation";

body{
    margin: 0;
    background-color: $text-color;
    header{
        background-color: $bg-color;
        nav{
            display: flex;
            width: 80%;
            margin: auto;
            align-items: center;
            img{
                width: 50px;
                background-color: transparent;
            }
            ul{
                display: flex;
                list-style: none;
                gap: $size-5;
                a{
                    color: $text-color;
                    text-decoration: none;
                    font-size: $size-3;
                    font-weight: 600;
                    &:hover{
                        color: scale-color($bg-color, $lightness: -60%);
                    }
                }
            }
        }
    }
    main{
        section{
            display: flex;
            width: 80%;
            margin: auto;
            align-items: center;
            background-color:$bg-color ;
            color: $text-color;
            justify-content: space-around;
            padding: $size-3;
            overflow: hidden;

            div{
                opacity: 0;
                animation: fadeIn 1.5s forwards;

                h1{
                    @include title-big($size-7, 600);
                }
                p{
                    font-size: $size-4;
                    
                }
                div{
                    button{
                        @extend %btn-style
                    }
                    
                }
                
            }
            img{
                width: 500px;
                opacity: 0;
                animation: fadeIn 1.5s forwards 1s;
            }
        }
    }
    .grigliaContainer{
        .griglia{
            display: flex;
            width: 80%;
            margin: auto;
            align-items: center;
            justify-content: space-between;
            
            color: $text-color;
            img{
                width: 22%;
            }

        }
    }
}

