$size-0: 0rem;
$size-1: 0.25rem;
$size-2: 0.5rem;
$size-3: 1rem;
$size-4: 1.5rem;
$size-5: 3rem;
$size-6: 3.5rem;
$size-7: 4rem;
$size-8: 4.5rem;
$size-9: 5rem;

$sizes: (
  xs: 10px,
  sm: 20px,
  md: 30px,
  lg: 50px,
  xl: 100px,
  xxl: 150px,
);
@each $key, $value in $sizes {
  .padding-inline-#{$key} {
    padding-inline: $value;
  }
  .padding-block-#{$key} {
    padding-block: $value;
  }
  .margin-inline-#{$key} {
    margin-inline: $value;
  }
  .margin-block-#{$key} {
    margin-block: $value;
  }
}